html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr{
  max-width:70px;
   border: aqua  solid;
}
h1 {
  color: hotpink;
  text-transform: capitalize;
  font-size: 4em;
  
}
.btn {
  padding: 1em 2em ;
  background: rgb(100, 74, 252);
  border-radius: 300px;
  text-transform: capitalize;
  color:rgb(95, 255, 21);
}
  
.btn:hover{

  background-color: orange;
  border:4px 5px 4px 5px;
}
.space{

  height: 11rem;
}